<div class="app-page flex-center auth-page">
  <mat-card class="app-card auth-card">
    <mat-card-title>Вхід</mat-card-title>
    <p class="auth-subtitle">Увійдіть у свій акаунт</p>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Електронна пошта</mat-label>
        <input matInput type="email" [formControl]="emailControl" />
        <mat-error
          *ngIf="emailControl.touched && emailControl.hasError('required')"
        >
          Електронна пошта обов’язкова
        </mat-error>
        <mat-error
          *ngIf="emailControl.touched && emailControl.hasError('email')"
        >
          Введіть коректну електронну пошту
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" [formControl]="passwordControl" />
        <mat-error
          *ngIf="passwordControl.touched && passwordControl.hasError('required')"
        >
          Пароль обов’язковий
        </mat-error>
      </mat-form-field>

      <p class="error-text" *ngIf="authStore.error()">
        {{ authStore.error() }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <div class="auth-actions">
        <button
          mat-flat-button
          color="primary"
          class="auth-submit"
          (click)="submit()"
          [disabled]="authStore.loading()"
        >
          Увійти
        </button>
        <a mat-button class="auth-link" routerLink="/register"
          >Створити акаунт</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</div>
